.user-info__button-edit {
    position: absolute;
    top: 168px;
    left: 187px;
  }
  
  /*@media screen and (max-width: 980px) {
    .user-info__button-edit {
      position: static;
      margin-bottom: 40px;
    }
  }*/